@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgba(0, 0, 0, 0.099);
    --background-start-rgb: rgba(0, 0, 0, 0.099);
    --background-end-rgb: rgba(0, 0, 0, 0.099);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

:where(.css-dev-only-do-not-override-17a39f8).ant-btn-primary {
  background-color: #1677ff !important;
}

/* item dropdown */
:where(.css-dev-only-do-not-override-17a39f8).ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-item {
  @apply mb-1;
}

.bg-gradient-blue-to-transparent {
  background: linear-gradient(
    90deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );
}

.ant-btn-primary-outline {
  @apply border border-blue-500 text-blue-500 hover:border-blue-400 hover:text-blue-400 !important;
}
