@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgba(0, 0, 0, 0.099);
    --background-start-rgb: rgba(0, 0, 0, 0.099);
    --background-end-rgb: rgba(0, 0, 0, 0.099);
  }
}

*,
html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  scroll-behavior: smooth;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input {
  line-height: normal;
}

.ant-btn-primary {
  background-color: #1677ff !important;
}

/* item dropdown */
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  @apply mb-1;
}

.bg-gradient-blue-to-transparent {
  background: linear-gradient(
    90deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );
}

.ant-btn-primary-outline {
  @apply border border-blue-500 text-blue-500 hover:border-blue-400 hover:text-blue-400 !important;
}

/* .ant-select-selector {
  height: auto !important;
  @apply py-1 !important;
} */

.no-line-height .ant-select-selection-item {
  line-height: 8px !important;
}

@layer base {
  :root {
    --color-primary: 255 115 179;
    --color-secondary: 111 114 185;
    /* ... */
    --nav-width-admin: 260px;
  }
}

.nav-admin-width {
  @apply w-[var(--nav-width-admin)];
}

.gr-admin {
  @apply p-4 px-6 bg-white rounded-md shadow border;
}

.gr-title-admin {
  @apply text-sm font-normal text-gray-500;
}
